$generalFontSize_px: 16px;
$generalFontSize_number: 16;


$white: #ffffff;
$blue: #3483fa;
$blue_light: #8eb2e7;
$grey: #6e6e81;
$grey_medium: #9898a9;
$grey_light: #f9f9f9;
$green: #238123;
$green_light: hsla(160, 100%, 37%, 1);
$red: red;
$fiolet: rgb(177, 114, 193);


$commonGap: rem(20);
